<% id = nil unless defined?(id) %>
<%= id ? 'Edit' : 'New' %> <%= h(@admin_assistant.model_class_name) %>
<%= link_to('Back to index', :action => 'index') %>
<% if !@record.errors.empty? %>
  <%= error_messages_for 'record' %>
<% end %>
<% form_for(@record, :url => {:action => action, :id => id}) do |form| %>
  <table>
  <% @admin_assistant.columns.each do |column| %>
    <tr>
      <th><%= h(column.name) %></th>
      <td><%=
        html_method = "#{column.name}_html_for_form"
        if respond_to?(html_method)
          self.send(html_method, @record)
        else
          column.html_for_form(form)
        end
      %></td>
    </tr>
  <% end %>
    <tr>
      <td></td>
      <td><%= submit_tag(action.capitalize) %></td>
    </tr>
  </table>
<% end %>
