<% id = nil unless defined?(id) %>
<%= h(form.title) %>
<%= link_to('Back to index', :action => 'index') %>
<% if !@record.errors.empty? %>
  <%= error_messages_for 'record' %>
<% end %>
<% form_for(@record, form.form_for_args) do |rails_form| %>
  <table>
  <% form.columns.each do |column| %>
    <tr>
      <th><%= h(column.label) %></th>
      <td><%= html_for_form(column, @record, rails_form) %></td>
    </tr>
  <% end %>
    <tr>
      <td></td>
      <td>
        <%= submit_tag(form.submit_value) %>
        <% form.extra_submit_buttons.each do |extra_submit_button| %>
          <%= submit_tag(extra_submit_button) %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
