<%
form_view = AdminAssistant::FormView.new(@record, @admin_assistant, self)
%>
<div class="admin_assistant form <%=
  @admin_assistant.controller_css_class(controller)
%>">
  <% id = nil unless defined?(id) %>
  <div class="aa_header">
    <h2><%= h(form_view.title) %></h2>
    <div class="actions">
    <%= link_to('Back to index', :action => 'index') %>
    </div>
  </div>
  <% if !@record.errors.empty? %>
    <%= error_messages_for 'record' %>
  <% end %>
  <% form_for(@record, form_view.form_for_args) do |rails_form| %>
    <% if @origin %>
      <%= hidden_field_tag 'origin', @origin %>
    <% end %>

    <% form_view.columns.each do |column| %>
      <div class="column">
      <label><%= h(column.label) %></label>
      <% if column.description %>
        <p class="description"><%= h(column.description) %></p>
      <% end %>
      <br /><%= column.html(rails_form) %>
      </div>
    <% end %>
      <div>
        <%= submit_tag(form_view.submit_value) %>
        <% form_view.extra_submit_buttons.each do |extra_submit_button| %>
          <%= submit_tag(extra_submit_button) %>
        <% end %>
      </div>
  <% end %>
</div>
