<div id="admin_assistant" class="index <%=
  @admin_assistant.controller_css_class(controller)
%>">
<div id="aa_header">
<div class="actions">
<%= link_to_function('Search', 'AdminAssistant.show_search_form()') %>
<%= link_to(
  "New #{@admin_assistant.model_class_name}", @admin_assistant.url_params(:new)
) if @admin_assistant.create? %>
<% @admin_assistant.index_settings.actions.each do |action, params| %>
  <%= link_to_unless_current(action, params) %>
<% end %>
</div>
<h2><%= h(@admin_assistant.model_class_name.pluralize.capitalize) %></h2>
</div>

<% form_for(
  :search, @index.search,
  :url => {:action => 'index'},
  :html => {:id => 'search_form', :style => 'display:none', :method => 'get'}
) do |form| %>
  <% column_views = @index.search.column_views self %>
  <% if column_views.size > 1 %>
    Match all conditions <%= radio_button_tag(
      "search[(all_or_any)]", "all", @index.search.match_all_conditions?
    ) %>
    &nbsp;&nbsp;&nbsp;
    Match any condition <%= radio_button_tag(
      "search[(all_or_any)]", "any", @index.search.match_any_conditions?
    ) %>
  <% end %>
  <% column_views.each do |column_view| %>
    <%= column_view.html(form) %>
  <% end %>
  <%= submit_tag('Search') %>
  <%=
    link_to('Back to index', :action => 'index') if @index.search_requested?
  %>
<% end %>

<% if @index.search_requested? %>
<script type="text/javascript">AdminAssistant.show_search_form();</script>
<% end %>

<% if !@index.records.empty? %>
<% index_view = @index.view(self) %>
<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
    <% index_view.columns.each do |column| %>
      <% th_class = column.header_css_class %>
      <th<%= " class=\"#{th_class}\"" if th_class %>><%=
        if column.sort_possible?
          link_to(h(column.label), column.next_sort_params)
        else
          h(column.label)
        end
      %></th>
    <% end %>
    <% if index_view.right_column? %><th></th><% end %>
    </tr>
  </thead>
  <tbody>
  <% @index.records.each do |record| %>
    <tr class="<%= cycle('odd', 'even') %>" id="record_<%= record.id %>">
      <% @index.view(self).columns.each do |column| %>
        <% td_class = column.td_css_class %>
        <td<%= " class=\"#{td_class}\"" if td_class %>><%=
          column.html(record)
        %></td>
      <% end %>
      <% if index_view.right_column? %>
      <td class="actions"><%= index_view.right_column_links(record) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
<div id="aa_footer">
<div class="pagination">
  <div class="links">
    <%= will_paginate @index.records, :container => false %>
  </div>
<% if @index.records.total_pages > 10 %>
  <% form_tag({:action => 'index'}, :method => 'get') do %>
    <%= text_field_tag('page', nil, :size => 2) %>
    <%= submit_tag('Jump') %>
  <% end %>
<% end %>
</div>
<%= @index.records.empty? ? 'No' : @index.records.total_entries %> <%= @admin_assistant.model_class_name %><%= 's' unless @index.records.total_entries == 1 %> found
</div>
</div>
