<% index_view = @index.view(self) %>
<div class="admin_assistant index <%=
  @admin_assistant.controller_css_class(controller)
%>">
<div class="aa_header">
<div class="actions">
<% if index_view.render_search_link? %>
  <%= link_to('Search', '#', :id => 'show_search_form') %>
<% end %>
<% if index_view.render_new_link? %>
  <%= index_view.new_link %>
<% end %>
<% @admin_assistant.index_settings.actions.each do |action, params| %>
  <%= link_to_unless_current(action, params) %>
<% end %>
</div>
<h2><%= h(index_view.header) %></h2>
<%= index_view.render_after_index_header %>
</div>

<%= form_for(
  @index.search,
  :as => :search, :url => {:action => 'index'},
  :html => {:id => 'search_form', :style => 'display:none', :method => 'get'}
) do |form| %>
  <% @index.hidden_fields_for_search_form.each do |name, value| -%>
    <%= hidden_field_tag name, value %>
  <% end -%>
  <% column_views = @index.search.column_views self %>
  <% if column_views.size > 1 %>
    Match all conditions <%= radio_button_tag(
      "search[(all_or_any)]", "all", @index.search.match_all_conditions?
    ) %>
    &nbsp;&nbsp;&nbsp;
    Match any condition <%= radio_button_tag(
      "search[(all_or_any)]", "any", @index.search.match_any_conditions?
    ) %>
  <% end %>
  <% column_views.each do |column_view| %>
    <%= raw(column_view.html(form)) %>
  <% end %>
  <%= submit_tag('Search') %>
  <%=
    link_to('Back to index', :action => 'index') if @index.search_requested?
  %>
<% end %>

<% if @index.search_requested? %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#show_search_form').click();
  });
</script>
<% end %>

<% if !@index.records.empty? %>
<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
    <% index_view.columns.each do |column| %>
      <% th_class = column.header_css_class %>
      <th<%= raw(" class=\"#{th_class}\"") if th_class %>><%=
        if column.sort_possible?(@index.records.size)
          link_to(h(column.label), column.next_sort_params)
        else
          h(column.label)
        end
      %></th>
    <% end %>
    <% if index_view.right_column? %><th></th><% end %>
    </tr>
  </thead>
  <tbody id="<%= @admin_assistant.model_class.name.underscore.pluralize %>_index_tbody">
  <% @index.records.each do |record| %>
    <tr class="<%= index_view.tr_css_classes(record) %>" id="<%= 
      @admin_assistant.model_class.name.underscore
    %>_<%= record.id %>">
      <% index_view.columns.each do |column| %>
        <% td_class = column.td_css_classes(column, record) %>
        <td<%= raw(" class=\"#{td_class}\"") unless td_class.blank? %>><%=
          raw(column.html(record))
        %></td>
      <% end %>
      <% if index_view.right_column? %>
      <td class="actions">
        <%= raw(index_view.right_column_links(record)) %>
      </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
<div class="aa_footer">
<div class="pagination">
  <div class="links">
    <%= paginate @index.records, :container => false %>
  </div>
<% if @index.records.size > 10 %>
  <%= form_tag({:action => 'index'}, :method => 'get') do %>
    <%= text_field_tag('page', nil, :size => 2) %>
    <%= submit_tag('Jump') %>
  <% end %>
<% end %>
</div>
<%= @index.records.empty? ? 'No' : @index.records.size %> <%=
  name = @admin_assistant.model_class_name
  @index.records.size == 1 ? name : name.pluralize
%> found
</div>
</div>

