<%= h(
  @admin_assistant.model_class.name.pluralize.gsub(/([A-Z])/, ' \1')[1..-1]
) %>
<%= link_to(
  @admin_assistant.new_page_title, @admin_assistant.url_params(:new)
) %>
<% if @records.empty? %>
No records
<% else %>
<table>
  <tr>
    <% @admin_assistant.model_class.column_names.each do |column_name| %>
      <th><%= h(column_name) %></th>
    <% end %>
  </tr>
  <% @records.each do |record| %>
    <tr>
      <% @admin_assistant.model_class.column_names.each do |column_name| %>
        <td><%= h(record.send(column_name)) %></td>
      <% end %>
      <td><%= link_to 'Edit', :action => 'edit', :id => record.id %></td>
    </tr>
  <% end %>
</table>
<% end %>
