<div id="admin_assistant" class="index <%=
  @admin_assistant.controller_css_class(controller)
%>">
<script type="text/javascript">
function show_search_form() { $('search_form').show(); }
</script>

<div id="header">
<div class="actions">
<%= link_to_function('Search', 'show_search_form()') %>
<%= link_to(
  "New #{@admin_assistant.model_class_name}", @admin_assistant.url_params(:new)
) %>
<% @admin_assistant.index_settings.actions.each do |action, params| %>
  <%= link_to_unless_current(action, params) %>
<% end %>
</div>
<h2><%= h(
  @admin_assistant.model_class.name.pluralize.gsub(/([A-Z])/, ' \1')[1..-1]
) %></h2>
</div>

<% @search = @index.search %>
<% form_for(
  :search,
  :url => {:action => 'index'},
  :html => {:id => 'search_form', :style => 'display:none', :method => 'get'}
) do |form| %>
  <% @search.column_views(self).each do |column_view| %>
    <%= column_view.search_html %>
  <% end %>
  <%= submit_tag('Search') %>
  <%= link_to('Back to index', :action => 'index') if @index.search_terms %>
<% end %>

<% if @index.search_terms %>
<script type="text/javascript">
show_search_form();
</script>
<% end %>

<% if !@index.records.empty? %>
<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
    <% @index.view(self).columns.each do |column| %>
      <% th_class = column.header_css_class %>
      <th<%= " class=\"#{th_class}\"" if th_class %>><%=
        if column.sort_possible?
          link_to(h(column.label), column.next_sort_params)
        else
          h(column.label)
        end
      %></th>
    <% end %>
    <% if @admin_assistant.update? || @admin_assistant.destroy? %>
      <th></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% @index.records.each do |record| %>
    <tr class="<%= cycle('odd', 'even') %>" id="record_<%= record.id %>">
      <% @index.view(self).columns.each do |column| %>
        <% td_class = column.td_css_class %>
        <td<%= " class=\"#{td_class}\"" if td_class %>><%=
          column.html(record)
        %></td>
      <% end %>
      <% if @admin_assistant.update? || @admin_assistant.destroy? %>
      <td>
        <% if @admin_assistant.update? %>
          <%= link_to 'Edit', :action => 'edit', :id => record.id %>
        <% end %>
        <% if @admin_assistant.destroy? %>
          <%= link_to_remote(
            'Delete',
            :url => {:action => 'destroy', :id => record.id},
            :confirm => 'Are you sure?',
            :success => "Effect.Fade('record_#{record.id}')"
          ) %>
        <% end %>
        <% @index.right_column_links(record).each do |link_args| %>
          <%= link_to *link_args %>
        <% end %>
      </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @index.records %>
<% end %>
<%= @index.records.empty? ? 'No' : @index.records.total_entries %> <%= @admin_assistant.model_class_name %><%= 's' unless @index.records.total_entries == 1 %> found
</div>
