<script type="text/javascript">
function show_search_form() { $('search_form').show(); }
</script>

<%= h(
  @admin_assistant.model_class.name.pluralize.gsub(/([A-Z])/, ' \1')[1..-1]
) %>

<%= link_to_function('Search', 'show_search_form()') %>
<%= link_to(
  "New #{@admin_assistant.model_class_name}", @admin_assistant.url_params(:new)
) %>

<div id="search_form" style="display: none">
  <% form_tag({:action => 'index'}, :method => 'get') do %>
    <%= text_field_tag 'search[terms]', @index.search_terms %>
    <%= submit_tag('Search') %>
  <% end %>
  <%= link_to('Back to index', :action => 'index') if @index.search_terms %>
</div>
<% if @index.search_terms %>
<script type="text/javascript">
show_search_form();
</script>
<% end %>

<% if !@index.records.empty? %>
<table>
  <tr>
    <% @admin_assistant.columns.each do |column| %>
      <th><%= link_to(
        h(column.label), @index.next_sort_params(column.name)
      ) %></th>
    <% end %>
  </tr>
  <% @index.records.each do |record| %>
    <tr>
      <% @admin_assistant.columns.each do |column| %>
        <td><%= html_for_index(column, record) %></td>
      <% end %>
      <td><%= link_to 'Edit', :action => 'edit', :id => record.id %></td>
    </tr>
  <% end %>
</table>
<% end %>
<%= @index.records.empty? ? 'No' : @index.records.size %> <%= @admin_assistant.model_class_name %><%= 's' unless @index.records.size == 1 %> found
