<script type="text/javascript">
function show_search_form() { $('search_form').show(); }
</script>

<%= h(
  @admin_assistant_request.model_class.name.pluralize.gsub(/([A-Z])/, ' \1')[1..-1]
) %>

<%= link_to_function('Search', 'show_search_form()') %>
<%= link_to(
  "New #{@admin_assistant_request.model_class_name}",
  @admin_assistant_request.url_params(:new)
) %>

<div id="search_form" style="display: none">
  <% form_tag({:action => 'search'}, :method => 'get') do %>
    <%= text_field :search, :terms %>
    <%= submit_tag('Search') %>
  <% end %>
  <% if action_name == 'search' %>
    <%= link_to('Back to index', :action => 'index') %>
  <% end %>
</div>
<% if action_name == 'search' %>
<script type="text/javascript">
show_search_form();
</script>
<% end %>

<% if @records.empty? %>
No records
<% else %>
<table>
  <tr>
    <% @admin_assistant_request.model_class.column_names.each do |column_name| %>
      <th><%= h(column_name) %></th>
    <% end %>
  </tr>
  <% @records.each do |record| %>
    <tr>
      <% @admin_assistant_request.model_class.column_names.each do |column_name| %>
        <td><%= h(record.send(column_name)) %></td>
      <% end %>
      <td><%= link_to 'Edit', :action => 'edit', :id => record.id %></td>
    </tr>
  <% end %>
</table>
<% end %>
