<% show_view = AdminAssistant::ShowView.new(@record, @admin_assistant, self) %>
<div class="admin_assistant show <%=
  @admin_assistant.controller_css_class(controller)
%>">
  <div class="aa_header">
    <h2><%=
      h("#{request.model_class_name(@record).capitalize} #{@record.id}")
    %></h2>
    <% if @admin_assistant.edit? %>
      <%= link_to 'Edit', :action => 'edit', :id => @record.id %>
    <% end %>
  </div>
  <% show_view.columns.each do |column| %>
    <div class="column">
    <label><%= h(column.label) %></label>
    <br /><%= show_view.column_html(column) %>
    </div>
  <% end %>
</div>
