<html>
  <head>
    <title>Admin</title>
    <%= javascript_include_tag("prototype", "effects", "controls") %>
    <% if controller.is_a?(Admin::BlogPosts3Controller) %>
      <%= admin_assistant_includes :theme => 'activescaffold' %>
    <% else %>
      <%= admin_assistant_includes %>
    <% end %>
    <%= stylesheet_link_tag 'admin' %>
  </head>
  <body>
    <h1>admin_assistant sample Rails app</h1>
    <p>
      <%
      controller_names = %w(
        blog_posts blog_posts2 blog_posts3 blog_posts_read_only comments
        comments2 file_column_images file_column_images2 images images2
        products users
      )
      %>
      <% controller_names.each_with_index do |c_name, i| %>
        <%= "|" unless i == 0 %>
        <%= link_to_unless_current(c_name, :controller => "admin/#{c_name}") %>
      <% end %>
    </p>
    <%= @content_for_layout %>
  </body>
</html>
