<html>
  <head>
    <title>Admin</title>
    <%= javascript_include_tag("prototype", "effects", "controls") %>
    <%= admin_assistant_includes %>
    <%= stylesheet_link_tag 'admin' %>
  </head>
  <body>
    <h1>admin_assistant sample Rails app</h1>
    <p>
      <%= link_to_unless_current(
        'blog_posts', :controller => 'admin/blog_posts'
      ) %>
      | <%= link_to_unless_current(
        'blog_posts2', :controller => 'admin/blog_posts2'
      ) %>
      | <%= link_to_unless_current(
        'images', :controller => 'admin/images'
      ) %>
      | <%= link_to_unless_current(
        'images2', :controller => 'admin/images2'
      ) %>
      | <%= link_to_unless_current(
        'users', :controller => 'admin/users'
      ) %>
    </p>
    <%= @content_for_layout %>
  </body>
</html>
